@import '/src/main.scss';


.input__container {
    width: 20.4rem;
    height: 3rem;
    padding: 1rem;
    background-color: $cointainers;
    position: relative;
    top: 3rem;
    border: 0;
    text-align: left;
    font-size: 32px;
    color: $fontcolor;
    font-family: $jetbrainsmonoBold;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}