@import "/src/main.scss";

.options__container {
  width: 22.4rem;
  height: 29rem;
  background-color: $cointainers;
}
.character__text {
  color: $fontcolor;
  font-family: $jetbrainsmonoBold;
  top: 1.5rem;
  position: relative;
  right: 5rem;
}
.settings__text {
  color: $fontcolor;
  font-family: $jetbrainsmonoBold;
  display: flex;
  align-items: center;
}

.input__container {
  width: 20.4rem;
  height: 3rem;
  padding: 1rem;
  background-color: $cointainers;
  position: relative;
  top: 0.8rem;
  border: 0;
  text-align: left;
  font-size: 32px;
  color: $fontcolor;
  font-family: $jetbrainsmonoBold;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}
